<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1516453734593-8d198ae84bcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
  <div class="container">
    <h1>All Products <strong>Index dos products</h1>
  </div>
</div>
<div class="search">
    <%= link_to "Home |", root_path %>
    <%= link_to "Top 5 |", "#"%>
    <%= link_to "Toys |", "#"%>
    <%= link_to "Treats |", "#"%>
    <%= link_to "Beauty", "#"%>
  </div>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <h2><%= product.name %></h2>
            <p><%= product.price %></p>
            <p><%= product.description %></p>
          </div>
          <%= link_to "View!", product_path(product) , class: "btn btn-gradient" %>
          <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do %>
          <%= " || Remove cocktail" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
